.plans/

# Dependencies
node_modules

# Build output
dist
bundle/
packages/desktop/out
packages/desktop/.stage
packages/desktop/bundle.cjs
packages/desktop/public
packages/desktop/icon.png
packages/frontend/public/*.png

# Environment variables
.env
.env.*

# Logs
*.log

# Test coverage
coverage
/.claude/
